body {
    background-color: steelblue
}

.navbar-brand {
    font-size: xx-large;
}

.container {
    background-color: skyblue;
    padding-bottom: 10px;
}

.jumbotron {
    margin-top: 12em;
}

#username {
    font-size: large;
    margin-right: 15px;
}

a.btn.btn-primary.nav-link {
    color: white;
}

.navbar brand {
    font-size: xx-large;
}

#title {
    text-align: center;
    font-size: 7em;
    margin-top: 25px;
    margin-bottom: 25px;
}

#new_topic {
    bottom: 20px;
}

.new_topic {
    text-align: center;
}

#topic_textarea {
    width: 100%;
}

#thread_title {
    text-align: center;
}