{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.admin %}

<h1 id="title">Pääkäyttäjän toiminnot</h1>
<hr>
<h1 id="title">Aiheet</h1>
<hr>
{% if error %}
<div id="error" class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

{% if topics %}

{% for topic in topics %}

<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1"><a href="/threads/{{ topic[1] }}">{{ topic[0] }}</a> <a class="btn btn-primary" href="/delete_topic/{{ topic[1] }}">Poista aihe</a></h4>
</li>
<hr>
</ul>

{% endfor %} 
{% else %}
<!-- Ei yhtään aihetta -->

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään aihetta</h5>
    </li>
    <hr>
</ul>
{% endif %}

<!-- Viestiketjut -->
<h1 id="title">Viestiketjut</h1>
<hr>

{% if thread_list %}
{% for thread in thread_list %}

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h4 class="mt-0 mb-1"><a href="/get_messages/{{ thread[1] }}">{{ thread[0] }}</a> <a class="btn btn-primary" href="/delete_thread_admin/{{ thread[1] }}">Poista viestiketju</a></h4>
        </div>
    </li>
<hr>
</ul>

{% endfor %}
{% else %}
<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään ketjua</h5>
    </li>
    <hr>
</ul>
{% endif %}

<!-- Viestit -->
<h1 id="title">Viestit</h1>
<hr>
{% if messages %}

{% for message in messages %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">{{ message[0] }} <a class="btn btn-primary" href="/delete_message_admin/{{ message[1] }}">Poista viesti</a></h4>
    </div>
</li>
<hr>
</ul>

{% endfor %}

{% else %}
<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään viestiä</h5>
    </li>
    <hr>
</ul>
{% endif %}

<!-- Rajatut alueet -->
<h1 id="title">Rajatut aiheet</h1>
<p><a class="btn btn-primary btn-lg btn-block" href="/new_limited_topic">Luo rajattu alue</a></p>
<hr>

{% if limited_topics %}
{% for topic in limited_topics %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">{{ topic[0] }} <a class="btn btn-primary" href="/delete_topic/{{ topic[1] }}">Poista aihe</a>
    <a class="btn btn-primary" href="/add_user_permissions/{{ topic[1] }}">Lisää oikeuksia</a>
    </h4>
    </div>
</li>
<hr>
</ul>
{% endfor %}
{% else %}

<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">Ei rajattuja aiheita</h4>
    </div>
</li>
<hr>
</ul>

{% endif %}

<!-- Käyttäjät -->
<h1 id="title">Käyttäjät</h1>

{% if users %}

{% for user in users %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    {% if user[1] != session.user_id %}
    {% if user[2] == 1 %}
    <h4 class="mt-0 mb-1">{{ user[0] }} <a class="btn btn-primary" href="/delete_user_admin/{{ user[1] }}">Poista käyttäjä</a></h4>
    {% else %}
    <h4 class="mt-0 mb-1">{{ user[0] }} <a class="btn btn-primary" href="/return_user_admin/{{ user[1] }}">Palauta käyttäjä</a></h4>
    {% endif %}
    <hr>
    {% endif %}
    </div>
</li>
</ul>

{% endfor %}

{% else %}

<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">Olet ainoa käyttäjä</h4>
    </div>
</li>
<hr>
</ul>
{% endif %}

{% endif %}
{% endblock %}