{% if session.username %}
<h1><a href="/">Keskustelusovellus</a></h1>
<hr>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p><a href="/log_out">Kirjaudu ulos</a></p>
<hr>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="/update_thread_title/{{ thread_id }}" method="POST">
Uusi otsikko:
<br>
<textarea name="thread_title" rows="5" cols="50"></textarea>
<br>
<input type="submit" value="Muokkaa otsikkoa">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}

<p>Et Ole kirjautunut</p>
<p><a href="/login">Kirjaudu sisään</a></p>

{% endif %}