{% extends "home_layout.html" %}
<!-- Kirjautunut -->
{% block logged_in %}
{% if session.username %}

{% if session.admin %}
<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/admin">Pääkäyttäjä toiminnot</a></p>
{% endif %}

<h1 id="title">Rajatut aiheet</h1>

{% if limited %}
{% for topic in limited %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1"><a href="/get_limited_threads/{{ topic[1] }}">{{ topic[0] }}</a></h4>
</li>
<hr>
</ul>
{% endfor %}
{% endif %}

<h1 id="title">Aiheet</h1>

{% if error %}
<div id="error" class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

{% if topics %}

{% for topic in topics %}

<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1"><a href="/threads/{{ topic[1] }}">{{ topic[0] }}</a></h4>
    {{ topic[2] }} Viestiketjua
    <br>
    {{ topic[3] }} Viestiä
    </div>
</li>
<hr>
</ul>

{% endfor %} 
{% else %}
<!-- Ei yhtään aihetta -->

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään aihetta</h5>
    </li>
    <hr>
</ul>
{% endif %}

<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/new_topic">Luo aihe</a></p>

{% endif %}
{% endblock %}