{% if session.username %}
<h1><a href="/">Keskustelusovellus</a></h1>
<hr>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p><a href="/log_out">Kirjaudu ulos</a></p>
<hr>
<p><a href="/new_topic">Luo aihe</a></p>
<hr>
{% if topics %}
<h1>Aiheet:</h1>
{% for topic in topics %}
<p><a href="/threads/{{ topic[1] }}">{{ topic[0] }}</a></p>
<p>{{ topic[2] }} Viestiketjua</p>
<p>{{ topic[3] }} Viestiä</p>
<br>
{% endfor %}

{% else %}
<!-- Ei aiheita -->
<p>Ei yhtään aihetta</p>
{% endif %}


{% else %}

<p>Et Ole kirjautunut</p>
<p><a href="/login">Kirjaudu sisään</a></p>

{% endif %}