{% extends "home_layout.html" %}
<!-- Kirjautunut -->
{% block logged_in %}
{% if session.username %}

<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Keskustelusovellus</a>
    <span id="username" class="navbar-test ml-auto">Olet kirjautunut tunnuksella {{ session.username }}</span>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="btn btn-primary nav-link" href="/log_out">Kirjaudu ulos</a></li>
    </ul>
</nav>

<h1 id="title">Aiheet</h1>

{% if error %}
<div id="error" class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

{% if topics %}

{% for topic in topics %}

<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1"><a href="/threads/{{ topic[1] }}">{{ topic[0] }}</a></h4>
    {{ topic[2] }} Viestiketjua
    <br>
    {{ topic[3] }} Viestiä
    </div>
</li>
<hr>
</ul>

{% endfor %} 
{% else %}
<!-- Ei yhtään aihetta -->

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään aihetta</h5>
    </li>
    <hr>
</ul>
{% endif %}

<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/new_topic">Luo aihe</a></p>

{% endif %}
{% endblock %}

<!-- Ei kirjautunut -->
{% block not_in %}
{% if not session.username %}

<div class="jumbotron">
<h1 class="display-4">Keskustelusovellus</h1>
<p class="lead">Tervetuloa käyttämään keskustelusovellusta. Sovelluksella voit keskustella eri aiheista tai voit luoda omia aiheita ja viestiketjuja.</p>
<hr class="my-4">
<p>Kirjaudu sisään tai luo tunnus päästäksesi käyttämään sovellusta.</p>
<a class="btn btn-primary btn-lg" href="/login" role="button">Kirjaudu sisään</a>
<a class="btn btn-primary btn-lg" href="/new_user" role="button">Luo tunnus</a>
</div>
{% endif %}
{% endblock %}