{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.username %}

<h1 id="title">Viestiketjun viestit</h1>

{% if messages %}
<h1 id="thread_title">{{ thread_title[0] }}</h1>

{% for message in messages %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">{{ message[0] }}</a></h4>
    </div>
</li>
<hr>
</ul>

{% endfor %}

{% else %}
<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään viestiä</h5>
    </li>
    <hr>
</ul>
{% endif %}

<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/new_message/{{ thread_id }}">Kirjoita viesti</a></p>

{% endif %}
{% endblock %}