{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.username %}

<h1 id="title"><a href="/threads/{{ topic_id }}">{{ thread_title[0] }}</a></h1>

{% if messages %}

{% for message in messages %}
<ul class="list-unstyled">
<li class="media">
    <div class="media-body">
    <h4 class="mt-0 mb-1">{{ message[0] }} {% if message[2] == session.user_id %}<a class="btn btn-primary" href="/delete_message/{{ message[1] }}">Poista viesti</a>{% endif %}</h4>
    </div>
</li>
<hr>
</ul>

{% endfor %}

{% else %}
<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h5 class="mt-0 mb-1">Ei yhtään viestiä</h5>
    </li>
    <hr>
</ul>
{% endif %}

<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/new_message/{{ thread_id }}">Kirjoita viesti</a></p>

{% endif %}
{% endblock %}