{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.username %}

<h1 id="title">Uusi viesti</h1>

{% if error %}
<div id="error" class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="new_topic">
<form action="/create_message/{{ thread_id }}" method="POST">
Viesti:
<br>
<textarea id="topic_textarea" name="message" rows="10" cols="100"></textarea>
<br>
<input type="submit" class="btn btn-primary btn-lg btn-block" value="Lähetä viesti">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
</div>

{% endif %}
{% endblock %}