{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.username %}

<h1 id="title">Uusi ketju</h1>

{% if message %}
<div id="error" class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}

<div class="new_topic">
<form action="/create_thread/{{ topic_id }}" method="POST">
Aihe:
<br>
<textarea id="topic_textarea" name="thread_topic" rows="5" cols="100"></textarea>
<br>
<input type="submit" class="btn btn-primary btn-lg btn-block" value="Luo uusi viestiketju">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
</div>

{% endif %}
{% endblock %}