{% if session.username %}
<h1>Keskustelusovellus</h1>
<hr>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p><a href="/log_out">Kirjaudu ulos</a></p>
<hr>
{% if thread_list %}
<h1>Viestiketjut:</h1>
<hr>

<p><a href="/new_thread/{{ topic_id }}">Luo viestiketju</a></p>
<hr>

{% for thread in thread_list %}
<p>{{ thread[0] }}</p>
{% endfor %}

{% else %}

<p><a href="/new_thread/{{ topic_id }}">Luo viestiketju</a></p>
<hr>

{% endif %}


{% else %}

<p>Et Ole kirjautunut</p>
<p><a href="/login">Kirjaudu sisään</a></p>

{% endif %}