{% extends "home_layout.html" %}
{% block logged_in %}
{% if session.username %}

<h1 id="title">Viestiketjut</h1>

{% if thread_list %}

{% for thread in thread_list %}

<ul class="list-unstyled">
    <li class="media">
        <div class="media-body">
        <h4 class="mt-0 mb-1"><a href="/get_messages/{{ thread[1] }}">{{ thread[0]  }}</a></h4>
        {% if session.user_id == thread[2] %}
        <a href="/edit_thread_title/{{ thread[1] }}">Muokkaa otsikkoa</a>
        <br>
        <a href="/delete_thread/{{ thread[1] }}">Poista viestiketju</a>
        {% endif %}
        </div>
    </li>
<hr>
</ul>

<br>
{% endfor %}

{% endif %}

<p><a id="new_topic" class="btn btn-primary btn-lg btn-block" href="/new_thread/{{ topic_id }}">Luo viestiketju</a></p>

{% endif %}
{% endblock %}