{% if session.username %}
<h1><a href="/">Keskustelusovellus</a></h1>
<hr>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p><a href="/log_out">Kirjaudu ulos</a></p>
<hr>
{% if thread_list %}
<h1>Viestiketjut:</h1>
<hr>

<p><a href="/new_thread/{{ topic_id }}">Luo viestiketju</a></p>
<hr>

{% for thread in thread_list %}
<p><a href="/get_messages/{{ thread[1] }}">{{ thread[0] }}</a></p>

{% if session.user_id == thread[2] %}
<p><a href="/edit_thread_title/{{ thread[1] }}">Muokkaa otsikkoa</a></p>
<p><a href="/delete_thread/{{ thread[1] }}">Poista viestiketju</a></p>
{% endif %}

<br>
{% endfor %}

{% else %}

<p><a href="/new_thread/{{ topic_id }}">Luo viestiketju</a></p>
<hr>

{% endif %}


{% else %}

<p>Et Ole kirjautunut</p>
<p><a href="/login">Kirjaudu sisään</a></p>

{% endif %}